.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchBar {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.search {
  outline: none;
  height: 100%;
  flex: 1;
  border-radius: 2rem 0 0 2rem;
  padding-left: 1rem;
  border: 1px solid purple;
  border-right: 0;
}

.searchBar button {
  border: 1px solid purple;
  border-left: 0;
  background-color: rgb(230, 144, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-size: 1.4rem;
  padding: 0 1rem;
  border-radius: 0 2rem 2rem 0;
  position: relative;
  z-index: 10;
}

.searchBar button:hover {
  background-color: purple;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  max-width: 800px;
  margin: 0 auto;
}

article {
  display: flex;
  margin: 5rem 0;
}

article:nth-child(even) {
  flex-direction: row-reverse;
}

article:nth-child(even) .text {
  text-align: right;
}

article:nth-child(odd) .link {
  right: calc(100% - 160px);
}

.text {
  padding: 0 2rem;
  text-align: left;
  position: relative;
}

img {
  height: 300px;
}

.summary {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.link {
  padding: 1rem 2rem;
  background-color: rgb(177, 85, 177);
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 2rem;
  border-radius: 2rem;
  transition: all 300ms ease-in;
}

.link:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px -3px #444;
}

@media (max-width: 800px) {
  article,
  article:nth-child(even) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
  }

  .text,
  article:nth-child(even) .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .link,
  article:nth-child(odd) .link {
    position: relative;
    width: 100%;
    right: 0;
  }

  img {
    width: 100%;
  }
}
